.priceInputsContainer{
    width: 40%;
    margin: 0 auto;
    padding: .5rem;
    border: 2px solid #dadada;
    margin-bottom: 1rem;
}

.inputContainer{
    width: 90%;
    margin: 0 auto;
    padding: .5rem;
}

.hidden{
    display: none;
}

.updateBtn{
    width: 30%;
    margin: 1rem auto;
    padding: .5rem .75rem;
    background-color: transparent;
    border: 2px solid #6e6e6e;
    outline: none;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.updateBtn:hover{
    background-color: #6e6e6e;
    color: black;
}

